<form method="POST">
    Age : <input type="number" name = 'age' placeholder="Enter your age :" required>
    GENDER : <input type="text" name = 'gender' placeholder="Enter your gender :" required>
    SLEEP HOURS : <input type="number" name = 'sleep_hours' placeholder="Enter your sleep hours :" required>
    ATTENDANCE : <input type="number" name = 'attendance' placeholder="Enter your attendance :" required>
    PREV SEM CGPA : <input type="number" name = 'previous_sem_cgpa' placeholder="Enter your prev sem cgpa :" required>
    STUDY HOURS : <input type="number" name = 'total_study_hours' placeholder="Enter your study hours :" required>
    SCREEN TIME : <input type="number" name = 'total_screen_time' placeholder="Enter your screen time :" required>
    <button type="submit">Predict</button>
</form>
<h3>CGPA: {{prediction}}</h3>
